
$bg_color:  rgba(230, 230, 230, 0.671);
$ft_color: burlywood;
$accent_color: white;


// search bar

// search icon color
$search_color: rgb(0, 221, 202);

// Font colors
$font_color: grey;

// Color palette 
$prim_color: linear-gradient(180deg, rgb(251, 109, 109), rgb(211, 9, 69));
$seco_color: linear-gradient(180deg, rgb(24, 250, 212), rgb(34, 202, 224));
$tert_color: linear-gradient(180deg, rgb(247, 197, 89), rgb(241, 133, 9));