footer {
    position             : fixed;
    bottom               : 0px;
    right                : 0px;
    height               : 60px;
    display              : grid;
    place-items          : center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color     : $accent_color;
    margin               : 0px;
    padding              : 0px;
    width                : 100%;

    >a>img {
        height : 20px;
        display: block;
    }


}


#home_icon {
    transform: scale(1.2);
}